#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.word {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.word p {
  font-size: 40px;
  width: 40%;
  text-align: center;
}

.result {
  margin-top: 30px;
}
.result h3{
  font-size: 3em;
}

.result button {
  margin: 12px;
}