#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.word {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  height: 10vh;
  align-items: center;
}

.word p {
  font-size: 32px;
  width: 40%;
  text-align: center;
}

.result {
  margin-top: 30px;
}
.result h3{
  font-size: 2em;
}

.result button {
  margin: 12px;
}

@media only screen and (max-width: 768px) {
  .word {
    width: 50vw;
  }
}